streamlit==1.32.2

langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.34

langchain-pinecone
langchain-huggingface
langchain-groq

pinecone-client==3.2.2

sentence-transformers
huggingface-hub

pypdf==4.2.0
python-dotenv==1.0.1

numpy==1.26.4